*.html
*.swp
.netrwhist
tags
pack/prv/opt/wiki/aux/wiki/private/
spell/
**/__pycache__/
**/aux/undo/
**/tempo/
**/b0t.egg-info/
**/aux/prvviminfo
**/acmart-master/
*.swp
*.swo
*.xlsx
*.log
*.out
*.aux
*.vmb
build/
dist/
**/tempo/
bib/
texts/
tokipona.egg-info/
tokipona/__pycache__/
*.cut
*.zip
article/acm/acmart-master/
*.pdf
*.bbl
*.blg
